<div class="menu">
    <table>
        <tr>
            <td height="20px" valign="bottom"><a href="/documents/" class="module">ДОКУМЕНТЫ</a></td>
        </tr>
        <tr><td height="20px">&nbsp;</td></tr>
        <tr>
            <td><a href="/contacts/" class="module_current"><i class="fa fa-angle-double-right fw" aria-hidden="true"></i> КОНТАКТЫ</a></td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp;&nbsp;<a href="/contacts/new/" class="action">Добавить контакт</a></td>
        </tr>
    </table>
</div>