{% include "header.html" %}

<table width="100%">
    <tr>
        <td width="165px" valign="top">{% include "menu.html" %}</td>
        <td valign="top">
            <div class="content">
            <table width="100%">
                {% regroup contacts by organization as organizations %}
                    {% for organization in organizations %}
                        <tr><td><details><summary class="group" >{{ organization.grouper }}</summary>

                        {% for contact in organization.list %}
                            <table width="100%">
                                <tr>
                                    <td width="40%" class="first_col"><a href="/contacts/view/{{ contact.pk }}/" class="name">{{contact.name}}</a><br><span class="small">{{ contact.post }}</span></td>
                                    <td class="note">{{ contact.note}}</td>
                                    <td width="150px" align="center">{% if contact.phone %}
                                        <span class="numbers">{{ contact.phone }}</span><br><span class="small">Рабочий</span>
                                        {% else %}
                                        &nbsp;
                                        {% endif %}
                                    </td>
                                    <td width="150px" align="center">{% if contact.phone_mobile %}
                                            <span class="numbers">{{ contact.phone_mobile }}</span><br><span class="small">Мобильный</span>
                                        {% else %}
                                        &nbsp;
                                        {% endif %}
                                    </td>
                                    <td width="150px" align="center">{% if contact.email %}
                                        <a href="mailto:{{ contact.email }}" class="file">{{ contact.email }}</a><br><span class="small">e-Mail</span>
                                        {% else %}
                                        &nbsp;
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr><td colspan="5"><hr></td></tr>
                            </table>
                        {% endfor %}
                    </details></td></tr>
                {% endfor %}
            </table>
            </div>
        </td>
    </tr>
</table>

{% include "end.html" %}
