{% include "header.html" %}

<div class="menu">
    <table width="100%">
        {% include "menu.html" %}
        {% include "contacts_menu.html" %}
    </table>
</div>

<div class="content">
    <table rules="rows">
        {% regroup contacts by organization as organizations %}
            {% for organization in organizations %}
            <tr bgcolor="DDDDDD">
                <td colspan="5"><i class="fa fa-folder-o fa-fw" aria-hidden="true"></i>&nbsp;<b>{{ organization.grouper | upper }}</b></td>
            </tr>

                {% for contact in organization.list %}
                <tr>
                    <td>{{ contact.post }} &nbsp;</td>
                    <td width="300"><b><a href="/contacts/view/{{ contact.pk }}/">{{ contact.name }} &nbsp;</a></b></td>
                    <td width="190">{{ contact.phone }} <br>
                    {{ contact.phone_mobile }} &nbsp;</td>
                    <td width="200"><a href="mailto:{{ contact.email }}">{{ contact.email }}</a> &nbsp;</td>
                </tr>
                {% endfor %}

            <tr><td>&nbsp;</td></tr>
            {% endfor %}
    </table>

</div>

{% include "footer.html" %}
{% include "end.html" %}
