{% include "header.html" %}

<table width="100%">
    <tr>
        <td width="165px" valign="top">{% include "menu.html" %}</td>
        <td valign="top">
            <div class="content">
            <table width="100%">
                {% regroup documents by category as categories %}
                    {% for category in categories %}
                    <tr><td class="group" colspan="5">{{ category.grouper }}</td></tr>

                    {% for document in category.list %}
                    <tr>
                        <td width="40%" class="first_col"><a href="/documents/view/{{ document.pk }}/" class="name">{{document.name}}</a><br><span class="small">{{ document.date }}</span></td>
                        <td width="50px" align="center">{% if document.file_pdf %}
                                <a href="{{ document.file_pdf.url }}" class="pdf">PDF</a><br><span class="small">{{ document.get_pdf_size }}</span>
                            {% else %}
                            &nbsp;
                            {% endif %}
                        </td>
                        <td width="50px" align="center">{% if document.file %}
                                <a href="{{ document.file.url }}" class="file">{{ document.get_extension }}</a><br><span class="small">{{ document.get_size }}</span>
                            {% else %}
                            &nbsp;
                            {% endif %}
                        </td>
                        <td class="note">{{ document.note}}</td>
                        <td align="right" class="last_col" width="150px"><span class="user_update">{{ document.update_user }}</span><br><span class="small">{{ document.update_date|date:"d E Y" }}</span></td>
                    </tr>
                    <tr><td colspan="5"><hr></td></tr>

                    {% endfor %}

                <tr><td>&nbsp;</td></tr>
                {% endfor %}
            </table>
            </div>
        </td>
    </tr>
</table>

{% include "end.html" %}
