{% include "header.html" %}

<table width="100%">
    <tr>
        <td width="165px" valign="top">{% include "docs_menu.html" %}</td>
        </td>
        <td valign="top">
            <div class="content">
            <table cellspacing="10px">
                <tr>
                    <td align="right"><span class="field">Дата утверждения</span></td>
                    <td>{{ document.date }}</td>
                </tr>
                <tr>
                    <td align="right"><span class="field">Последние изменения</span></td>
                    <td>{{ document.update_user }} ({{ document.update_date|date:"d E Y" }})</td>
                </tr>
                <tr><td colspan="2"><hr></td></tr>
                {% if document.file_pdf %}
                    <tr>
                        <td align="right"><a href="{{ document.file_pdf.url }}" class="pdf">PDF</a></td>
                        <td>{{ document.get_pdf_size }}</td>
                    </tr>
                {% endif %}
                {% if document.file %}
                    <tr>
                        <td align="right"><a href="{{ document.file.url }}" class="file">{{ document.get_extension }}</a></td>
                        <td>{{ document.get_size }}</td>
                    </tr>
                {% endif %}
                <tr><td colspan="2"><hr></td></tr>
                <tr>
                    <td align="right"><span class="field">Примечание</span></td>
                    <td>{{ document.note }}</td>
                </tr>
                <tr><td colspan="2"><hr></td></tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><a href="/documents/edit/{{ document.pk }}/" class="edit">Редактировать</a></td>
                </tr>
            </table>
            </div>
        </td>
    </tr>
</table>

{% include "end.html" %}
