{% include "header.html" %}

<div class="menu">
    <table width="100%">
        {% include "menu.html" %}

        <tr><td><hr></td></tr>

        <tr><td><a href="{{ document.file_pdf.url }}"><i class="fa fa-file-pdf-o fa-fw" aria-hidden="true"></i> Скачать PDF</a></td></tr>
        <tr><td><a href="{{ document.file.url }}"><i class="fa fa-file-o fa-fw" aria-hidden="true"></i> Скачать файл</a></td></tr>

        <tr><td><hr></td></tr>

        <tr><td><a href="/documents/edit/{{ document.pk }}/"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i> Редактировать</a></td></tr>
    </table>
</div>

<div class="content">
    <h1>{{ document.name }}</h1>

    <table rules="rows" cellspacing="15px">
        <tr height="30"><td><h3>Категория </h3></td><td>{{ document.category }}</td></tr>
        <tr height="30"><td><h3>Дата утверждения </h3></td><td>{{ document.date }}</td></tr>
        <tr height="30"><td><h3>Последние изменения &nbsp; </h3></td><td>{{ document.update_user }} ({{ document.update_date | date:"Y-m-d в H:m" }})</td></tr>
        <tr height="30"><td><h3>Примечание </h3></td><td>{{ document.note }}</td></tr>

    </table>

</div>

{% include "footer.html" %}
{% include "end.html" %}
