{% include "header.html" %}

<div class="menu">
    <table width="100%">
        {% include "menu.html" %}
    </table>
</div>

<div class="content">
    <h1>{{ document.name }}</h1>

    <table rules="rows" cellspacing="15px">
        <tr height="30"><td><h3>Категория </h3></td><td>{{ document.category }}</td></tr>
        <tr height="30"><td><h3>Дата утверждения </h3></td><td>{{ document.date }}</td></tr>
        <tr height="30"><td><h3>Последние изменения &nbsp; </h3></td><td>{{ document.update_user }} ({{ document.update_date | date:"Y-m-d в H:m" }})</td></tr>
        <tr height="30"><td><h3>Примечание </h3></td><td>{{ document.note }}</td></tr>

        <tr><td>&nbsp;</td></tr>

    </table>

    {% if document.file_pdf %}
        <a href="{{ document.file_pdf.url }}" class="btn btn-success">Скачать PDF</a>
    {% endif %}
    {% if document.file %}
        <a href="{{ document.file.url }}" class="btn btn-primary">Скачать файл</a>
    {% endif %}

    <a href="/documents/edit/{{ document.pk }}/" class="btn btn-warning">Редактировать</a>

</div>

{% include "footer.html" %}
{% include "end.html" %}
