<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ЕИС {{ EIS_NAME }}</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"></head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="/static/main.css">
<body>

<div class="header">
    <table width="100%" rules="all"><tr>
        <td width="180px" height="20px" align="center" valign="center"><h1>ЕИС {{ EIS_info.name }}</h1></td>
        <td><h2>{{ EIS_info.title }}</h2></td>
        <td width="150 px" align="center">{{ EIS_info.user }}</td>
        <td width="32px" align="center"><a href="/admin/logout/"><i class="fa fa-sign-out" aria-hidden="true"></i></a></td>
    </tr></table>
</div>
