{% include "header.html" %}

<div class="content">
    <table width="100%">
        <tr><td width="165px">&nbsp;</td>
            <td>
                <table>
                    <tr>
                        <td><a href="/admin/login/?next=/" class="section">Авторизация</a></td>
                    </tr>
                    <tr>
                        <td><span class="description">Авторизация в системе для доступа к закрытой информации</span></td>
                    </tr>
                    <tr>
                        <td height="20px">&nbsp;</td>
                    </tr>
                    <tr>
                        <td><a href="http://www.apt29.ru" class="section">www.apt29.ru</a></td>
                    </tr>
                    <tr>
                        <td><span class="description">Официальный сайт техникума</span></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>

{% include "end.html" %}
