{% include "header.html" %}
    <table>
        <tr>
            <td align="center">
                <h1> <a href="/">ЕИС {{ EIS_NAME }}</a> </h1>
                <div class="eis_user"> {{user.first_name}} {{user.last_name}}</div>
            </td>
        </tr>
        <tr><td><hr></td></tr>
        <tr>
            <td align="center">
                <div class="menu">
                {% include "menu.html" %}
                </div>
            </td>
        </tr>
        <tr><td><hr></td></tr>
        <tr>
            <td align="center">
                <div class="logout">
                 <a href="/admin/logout/">Завершить сеанс</a>
                </div>
            </td>
        </tr>
    </table>

{% include "footer.html" %}
{% include "end.html" %}
