{% include "header.html" %}

<div class="content">
    <table width="100%">
        <tr><td width="165px">&nbsp;</td>
            <td>
                <table>
                    <tr><td><a href="/documents/" class="section">ДОКУМЕНТЫ</a></td></tr>
                    <tr><td><span class="description">Актуальные документы, шаблоны и информация</span></td></tr>

                    <tr><td height="20px">&nbsp;</td></tr>

                    <tr><td><a href="/contacts/" class="section">КОНТАКТЫ</a></td></tr>
                    <tr><td><span class="description">Информация о внешних контактах (Министерство, службы, иные учреждения и прочие)</span></td></tr>

                    <tr><td height="20px">&nbsp;</td></tr>

                    <tr><td><a href="/workers/" class="section">СОТРУДНИКИ</a></td></tr>
                    <tr><td><span class="description">Контактная информация сотрудников</span></td></tr>

                    <tr><td height="20px">&nbsp;</td></tr>

                    {% if user.is_superuser %}
                        <tr><td><a href="/utils/" class="section">Утилиты</a></td></tr>
                        <tr><td><span class="description">Утилиты обслуживания системы</span></td></tr>

                        <tr><td height="20px">&nbsp;</td></tr>

                        <tr><td><a href="/admin/" class="section">ЦУП</a></td></tr>
                        <tr><td><span class="description">Центр Управления Полётами</span></td></tr>
                    {% endif %}

                    <tr><td height="50">&nbsp;</td></tr>
                    <tr><td height="20px"><span class="head">ПОСЛЕДНИЕ ОБНОВЛЕНИЯ</span></td></tr>
                    <tr><td height="5px"></td></tr>
                    <tr><td><span class="news"><b>08 ноября 2017</b><br>ДОКУМЕНТЫ: В имя прикрепляемого файла автоматически добавляется текущая дата.</span></td></tr>
                    <tr><td height="5px"></td></tr>
                    <tr><td><span class="news"><b>07 ноября 2017</b><br>ДОКУМЕНТЫ: При обновлении файлов документа, старые файлы автоматически удаляются из системы.</span></td></tr>

                </table>
            </td>
    </table>
</div>

{% include "end.html" %}
