* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.wrapper {
  position: relative;
  min-height: 100%;
}
.content {
  padding-bottom: 90px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    background: #39b54a;
    color: #fff;
    width: 100%;
   }