/* Цвет ссылки          #2196f3 */
/* Тёмно-тёмно-сервый   #212121 */
/* Тёмно-серый          #424242 */
/* Серый                #616161 */
/* Светло-серый         #757575 */
/* Светло-светло-серый  #9e9e9e */
/* Оранжевый            #ff9800 */

a {
    color: #2196f3;
    text-decoration: none;
    font-weight: bold;
    }

a:hover {
    color: #2196f3;
    text-decoration: underline;
    }

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100%;
    margin: 0 0 0 0;
    padding: 5px 5px 5px 5px;
    font-size: 14px;
    }

hr {
    border: none;
    color: #616161;
    background-color: #cccccc;
    height: 1px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    }

table {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    border: 1px;
    }

td, th {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;

    }

/* Архив */
.archive_current {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #9e9e9e;
    }

.archive_action {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #9e9e9e;
    }

.archive_action_year {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #9e9e9e;
    }

.header {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 0px 15px 5px;
    }

.title {
    font-size: 16px;
    color: #2196f3;
    }

.subtitle {
    color: #616161;
    font-size: 12px;
    }

.action {
    text-transform: none;
    color: #2196f3;
    font-size: 12px;
    }

.content {
    padding: 0px 0px 0px 0px;
    }

.group {
    font-weight: bold;
    color:#424242;
    background-color:#eeeeee;
    padding: 5px 5px 5px 5px;
    }

.name{
    font-weight: normal;
    }

.pdf{
    color: red;
    font-weight: normal;
    }

.pdf:hover{
    color: red;
    font-weight: normal;
    text-decoration: underline;
    }

.file{
    color: #2196f3;
    font-weight: normal;
    }

.file:hover{
    color: #2196f3;
    font-weight: normal;
    text-decoration: underline;
    }

.numbers{
    font-weight: normal;
    font-family: monospace;
    font-size: 12px;
    }

.user_update{
    color: #616161;
    font-size: 12px;
    font-weight: normal;
    }

.user {
    font-size: 14px;
    text-transform: uppercase;
    color: #757575;
    }

.version {
    font-size: 10px;
    color: #616161;
    }

.note{
    font-size: 10px;
    color: #424242;
    font-weight: normal;
    }

.small{
    font-size: 10px;
    color: #424242;
    font-weight: normal;
    }

.first_col {
    padding-left:5px;
    }

.last_col {
    padding-right:5px;
    }

.field {
    font-size: 12px;
    font-weight: bold;
    color: #616161;
    text-transform: uppercase;
    }

.edit {
    text-transform: uppercase;
    color: #2196f3;
    font-size: 12px;
    }

.cancel {
    text-transform: uppercase;
    color: #616161;
    font-size: 12px;
    }

.cancel:hover {
    color: #616161;
    }

input, textarea, select {
    padding: 5px 5px 5px 5px;
    font-size:12px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background: #ffffff !important;
    outline: none;
    width: 300px;
    }

select {
    width: 312px;
    }

/* Меню */
.menu {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    }

.module {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #9e9e9e;
    }

.module_current {
    color: #212121;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    }

/* Спойлер */
details {
    border: 1px solid #CCC;
    border-radius: 2px;
    }

summary {
    border-radius: 2px;
    cursor: pointer;
    }

/* Для главной страницы */
.section {
    font-size: 16px;
    font-weight: bold;
    color: #2196f3;
    text-transform: uppercase;
    }

.head {
    font-size: 16px;
    font-weight: bold;
    color: #424242;
    text-transform: uppercase;
    }

.description {
    font-size: 12px;
    color: #616161;
    text-transform: uppercase;
    }

.news {
    font-size: 12px;
    color: #616161;
    }
