{% include "header.html" %}

<table width="100%">
    <tr>
        <td width="165px" valign="top">{% include "menu.html" %}</td>
        <td valign="top">
            <div class="content">
                <table width="100%">
                    <tr>
                        <td valign="top" width="100px">
                            <table>
                                <tr><td class="archive_current">Период</td></tr>
                                <tr><td class="archive_action_year"><a href="./2015">2015</a></td></tr>
                                <tr><td class="archive_action_year"><a href="./2016">2016</a></td></tr>
                                <tr><td class="archive_action_year"><a href="./2017">2017</a></td></tr>
                                <tr><td class="archive_action_year"><a href="./2018">2018</a></td></tr>
                            </table>
                        </td>

                        <td valign="top" width="200px">
                            <table>
                                <tr><td class="archive_current">Тип документа</td></tr>
                                <tr><td class="archive_action"><a href="./">Приказы</a></td></tr>
                                <tr><td class="archive_action"><a href="./">Приказы (внешние)</a></td></tr>
                                <tr><td class="archive_action"><a href="./">Распоряжения</a></td></tr>
                                <tr><td class="archive_action"><a href="./">Локальные акты</a></td></tr>
                                <tr><td class="archive_action"><a href="./">Заявки</a></td></tr>
                                <tr><td class="archive_action"><a href="./">Заявления</a></td></tr>
                            </table>
                        </td>

                        <td valign="top" align="left">
                            <table>
                                <tr><td class="archive_current">Ключевые слова</td></tr>
                                <tr><td class="archive_action"><a href="./">Легион</a></td></tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>

{% include "end.html" %}
